<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>移动网盘</title>
    <link rel="stylesheet" th:href="@{/css/public.css}" type="text/css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-1.9.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/public.js}"></script>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <!--    <script type="text/javascript" th:src="@{/js/jquery-1.9.1.js}"></script>-->
    <!--    <script type="text/javascript" th:src="@{/js/public.js}"></script>-->
    <!--&lt;!&ndash;    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>&ndash;&gt;-->
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

</head>
<body style="min-width:1000px;">
<div class="btn_menu">
    <div class="btn_orange fl"><img src="images/icon/icon11.gif"/>上传文件<input name="choosefile" type="file"
                                                                             class="sc_file" id="choosefile"/></div>
    <div class="btn_glay ml20 mr20" id="createFolder"><img src="images/icon/icon12.gif"/>新建文件夹</div>
    <div id="fodername" style="display: none">
        <br>
        请输入文件名称: &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="fname">
    </div>
    <script>
        $(function () {
            $("#createFolder").click(function () {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.open({
                        type: 1
                        , title: "文件夹名称"
                        , area: '300px'

                        , content: $('#fodername') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                        , btn: ['创建', '取消']
                        , yes: function (index, layero) {
                            //按钮【按钮一】的回调
                            var folderName = $("#fname").val();
                            if (folderName == null || folderName == "") {
                                layer.msg("请输入文件夹名称");
                                return
                            } else {
                                $.ajax(
                                    {
                                        url: "create_folder",
                                        data: {folderName: folderName, pid: $("#pid").val()},
                                        dataType: "text",
                                        success: function (data) {
                                            console.log(data)
                                            layer.msg(data);
                                            layer.msg("成功！");
                                            window.parent.location.reload();
                                        },
                                        error: function (data) {
                                            layer.msg("失败！");

                                        }

                                    }
                                );
                            }
                            layer.closeAll(); //疯狂模式，关闭所有层
                        }
                        , btn2: function (index, layero) {
                            $("#fodername").css("display", "none");
                            //按钮【按钮二】的回调
                            //return false 开启该代码可禁止点击该按钮关闭
                        }
                        , cancel: function () {
                            //右上角关闭回调
                            $("#fodername").css("display", "none");
                            //return false 开启该代码可禁止点击该按钮关闭
                        }
                    });
                });
            })
        })
    </script>
    <div class="btn_glay1" id="div_download"><img src="images/icon/icon13.gif"/>下载</div>
    <div class="btn_glay2" id="file_delete"><img src="images/icon/icon14.gif"/>删除</div>
    <div class="btn_glay2" id="div_copy"><img src="images/icon/icon15.gif"/>复制到</div>
    <div class="btn_glay2" id="div_move"><img src="images/icon/icon16.gif"/>移动到</div>
    <div class="btn_glay2" id="refilename"><img src="images/icon/icon17.gif"/>重命名</div>
    <div class="btn_glay3"  id="fileshare"><img src="images/icon/icon18.gif"/>分享</div>
    <div class="btn_glay ml20 mr20"><img src="images/icon/icon19.gif" style=" margin-right:0px;"/></div>
    <div class="fr"><a href="main_list.htm"><img src="images/icon/icon20_1.gif"/></a><a href="main.htm"><img
            src="images/icon/icon21.gif"/></a></div>
</div>
<div class="clear"></div>
<div class="all_files_title">
    <input name="" type="checkbox" value="" class="fl mr10 mt15" id="check_all"/> 全部文件
</div>
<div class="clear"></div>
<div class="file_list">
    <div class="file_list1" id="file_list1">
        <div th:each="u:${file}">
            <div class="abc" th:name="${u.getId()}" th:value="${u.getId()}" href="javascript:void(0);">
                <div id="file_1" class="file_box" th:value="${u.getId()}" th:if="${u.getIsDir()==1&&u.getPid()==0}">
                    <a><img src="images/file_pic.gif" class="pic"/><br>[[${u.getfName()}]]
            </a><input type="hidden" th:value="${u.getId()}"/>
                </div>
            </div>
            <div th:rel="${u.getId()}" class="file_box" th:value="${u.getId()}" th:if="${u.getIsDir()==0&&u.getPid()==0}"
                 th:switch="${u.getTypeid()}">
                <div th:case="1" th:value="${u.getId()}"><img src="images/txt.jpg" class="pic"><br>[[${u.getfName()}]]</div>
                <div th:case="2" th:value="${u.getId()}"><img src="images/img_icon_s.gif" class="pic"><br>[[${u.getfName()}]]</div>
                <div th:case="3" th:value="${u.getId()}"><img src="images/music.jpg" class="pic"><br>[[${u.getfName()}]]</div>
                <div th:case="4" th:value="${u.getId()}"><img src="images/video.jpg" class="pic"><br>[[${u.getfName()}]]</div>
                <div th:case="5" th:value="${u.getId()}"><img src="images/zip.jpg" class="pic"><br>[[${u.getfName()}]]</div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>


<!--提示弹出层 开始-->
<div id="cover"></div>

<!--下载 弹出框 开始-->
<div class="boxT1 w550" id="pop_download">
    <div class="bar tcMove"><a class="close" href="javascript:hide('cover','pop_download');">&times;</a><span>下载</span>
    </div>
    <div class="cont">
        <div class="pl25 line25 download pos_r mt20">
            <p>文件名：<input name="" type="text" class="input1"/><span style="left:360px;">图片 28KB</span></p>
            <p class="mt20">下载到：<select name="" class="input2 mr5">
                <option>C:\Users\Desktop</option>
            </select><input name="" class="btnT3" type="button" value="浏览"/> <span style="left:280px;">剩余64.0 GB</span>
            </p>
        </div>
        <div class="clear"></div>
        <div class=" mt60 mb10 text_c">
            <a class="btnT2 mr10" href="javascript:hide('cover','pop_download');">直接打开</a>
            <a class="btnT1 mr10" href="javascript:hide('cover','pop_download');">下载</a>
            <a class="btnT2" href="javascript:hide('cover','pop_download');">取 消</a>
        </div>
    </div>
</div>
<!--下载 弹出框 结束-->

<!--删除 弹出框 开始-->
<div class="boxT1 w450" id="pop_delete">
    <div class="bar tcMove"><a class="close" href="javascript:hide('cover','pop_delete');">&times;</a><span>确认删除</span>
    </div>
    <div class="cont  line30">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td rowspan="2" align="right" width="25%"><img src="images/dele_pic2.png"/></td>
                <td>&nbsp;确认要把所选文件放入回收站吗？</td>
            </tr>
            <tr>
                <td><span class="gray font12">&nbsp;已删除的文件可以在回收站找到</span></td>
            </tr>
        </table>
        <div class="mt20 mb10 text_c">
            <a class="btnT1 mr10" href="javascript:hide('cover','pop_delete');javascript:show('cover','pop_delete1');">确
                定</a>
            <a class="btnT2" href="javascript:hide('cover','pop_delete');">取 消</a>
        </div>
    </div>
</div>

<div class="boxT1 w450" id="pop_delete1">
    <div class="bar tcMove"><a class="close" href="javascript:hide('cover','pop_delete1');">&times;</a><span>确认删除</span>
    </div>
    <div class="cont line30">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td rowspan="2" align="right" width="25%"><img src="images/dele_pic.png"/></td>
                <td>&nbsp;确定要和子文件一起删除吗？</td>
            </tr>
            <tr>
                <td><span class="gray font12">&nbsp;已删除的文件可以在回收站找到</span></td>
            </tr>
        </table>
        <div class="mt20 mb10 text_c">
            <a class="btnT1 mr10" href="javascript:hide('cover','pop_delete1');">确 定</a>
            <a class="btnT2" href="javascript:hide('cover','pop_delete1');">取 消</a>
        </div>
    </div>
</div>
<!--删除 弹出框 结束-->


<!--移动到 弹出框 开始-->
<div class="boxT1 w450" id="pop_move">
    <div class="bar tcMove"><a class="close" href="javascript:hide('cover','pop_move');">&times;</a><span>移动到</span>
    </div>
    <div class="cont line30">
        <p class="font14">选择移动到的位置</p>
        <div class="tree_box">
            <img src="images/tree.gif"/>
        </div>
        <div class="mt20 mb10 text_c">
            <a class="btnT1 mr10" href="javascript:hide('cover','pop_move');">确认移动</a>
            <a class="btnT2" href="javascript:hide('cover','pop_move');">取 消</a>
        </div>
    </div>
</div>
<!--移动到 弹出框 结束-->

<!--复制到 弹出框 开始-->
<div class="boxT1 w450" id="pop_copy">
    <div class="bar tcMove"><a class="close" href="javascript:hide('cover','pop_copy');">&times;</a><span>复制到</span>
    </div>
    <div class="cont line30">
        <p class="font14">选择复制到的位置</p>
        <div class="tree_box">
            <img src="images/tree.gif"/>
        </div>
        <div class="mt20 mb10 text_c">
            <a class="btnT1 mr10" href="javascript:hide('cover','pop_copy');">确认复制</a>
            <a class="btnT2" href="javascript:hide('cover','pop_copy');">取 消</a>
        </div>
    </div>
</div>
<!--复制到 弹出框 结束-->

<!--图片预览 弹出框 开始-->
<div class="boxT1" id="pop_pic">
    <a class="close pos_r fr" href="javascript:hide('cover','pop_pic');"><img src="images/close_delete.png"
                                                                              class="tc_dele"/></a>
    <div class="cont text_c line30">
        <img src="images/pic1.png" width="700"/>
    </div>
</div>
<!--图片预览 弹出框 结束-->
<script type="text/javascript" th:src="@{/js/jquery-1.9.1.js}"></script>
<script type="text/javascript" th:src="@{/js/public.js}"></script>
<script type="text/javascript">
    // 下载
    $(function () {
        //注册事件
        $("#div_download").click(function () {
            //获取选中的文件ID,JQ获取ID
            //获取整个file_box,6条记录 $(".file_box.active").length ,加了.active就是获取选中的记录,遍历
            //alert($(".file_box.active").length);
            $(".file_box.active").each(function () {
                // alert($(this).attr("rel"));
                // ids+= $(this).attr("rel");
                var id = $(this).attr("rel");
                layer.open({
                    type: 2,
                    title: ['文件下载'],
                    content: 'downloadfile?id=' + id,
                });
            })
            //打开树形菜单
            //show('cover','pop_download');
        });
    })

</script>

<script type="text/javascript">
    $(function () {
        //注册事件
        $("#div_copy").click(function () {
            //获取选中的文件ID,JQ获取ID
            //获取整个file_box,6条记录 $(".file_box.active").length ,加了.active就是获取选中的记录,遍历
            //alert($(".file_box.active").length);
            var ids = "";
            $(".file_box.active").each(function () {
                ids += $(this).attr("rel") + ",";
                layer.open({
                    type: 2,
                    area: ['500px', '300px'],
                    content: 'to_tree?ids=' + ids
                });
            })
            //打开树形菜单
            // show('cover', 'pop_move');

        });
    })

</script>

<script type="text/javascript">
    $(function () {
        //注册事件
        $("#fileshare").click(function () {
            var ids = "";
            $(".file_box.active").each(function () {
                ids += $(this).attr("rel") + ",";
                layer.open({
                    type: 2,
                    title: ["http://localhost:8084/netdisk/to_common_share"],
                    area: ['500px', '300px'],
                    content: 'to_file_share_person?ids=' + ids
                });
            })
        });
    })

</script>
<script type="text/javascript">
    $(function () {
        //注册事件
        $("#div_move").click(function () {
            //获取选中的文件ID,JQ获取ID
            //获取整个file_box,6条记录 $(".file_box.active").length ,加了.active就是获取选中的记录,遍历
            //alert($(".file_box.active").length);
            var ids = "";
            $(".file_box.active").each(function () {
                ids += $(this).attr("rel") + ",";
                layer.open({
                    type: 2,
                    area: ['500px', '300px'],
                    content: 'to_tree?ids=' + ids,

                });

            })
            //打开树形菜单
            // show('cover', 'pop_move');
        });
    })
    //parent.window.location.reload();
</script>
<script type="text/javascript">
    $(function () {
        // //注册事件
        $(".abc").dblclick(function () {
            var id = $(".abc").attr("name");
            // alert(id);
            window.location.href = "to_main_list_file?id=" + id;
        });

    })

    $(function () {

        //注册删除事件
        $("#file_delete").click(function () {
            //获取选中的文件ID,JQ获取ID
            //获取整个file_box,6条记录 $(".file_box.active").length ,加了.active就是获取选中的记录,遍历
            //alert($(".file_box.active").length);
            $(".file_box.active").each(function () {
                show('cover', 'pop_delete');
                var id = $(this).attr("rel");
                deteList(id);
            })

            //打开树形菜单

        });
    })

    function deteList(id) {
        $.ajax({
            url: "file_delete",
            data: {"id": id},
            success: function (data) {
                //刷新页面
                parent.window.location.reload();
            }
        })
    }

</script>
<div id="div2" style="display: none">
    <br>
    请输入新名称：             <input type="text" id="newfilename">
</div>
<script>
    //重命名
    $(function () {
        $("#refilename").click(function () {
            layui.use('layer', function () {
                var layer = layui.layer;
                if ($(".file_box.active").length == 1) {
                    var fileId = "";
                    var oldname = "";
                    $(".file_box.active").each(function () {
                        fileId = $(this).attr("value");
                        oldname = $(this).text();
                    })
                    console.log(fileId)
                    oldname = oldname.trim()
                    $("#newfilename").val(oldname);
                    console.log(oldname)
                    layer.open({
                        type: 1
                        , title: "输入新文件名"
                        , area: '300px'
                        , content: $('#div2') //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                        , btn: ['重命名', '取消']
                        , yes: function (index, layero) {
                            //按钮【按钮一】的回调
                            var newname = $("#newfilename").val().trim();
                            if (newname == oldname) {
                                layer.msg("名称没有被改变");
                                return
                            } else {
                                $.ajax(
                                    {
                                        url: "file_rename",
                                        data: {newname: newname, id: fileId},
                                        dataType: "text",
                                        success: function (data) {
                                            layer.msg("成功!!!");
                                        },
                                        error: function (data) {
                                            layer.msg("失败！");

                                        }
                                    }
                                );
                                window.parent.location.reload();
                            }
                            layer.closeAll(); //疯狂模式，关闭所有层
                        }
                        , btn2: function (index, layero) {
                            $("#div2").css("display", "none");
                            //按钮【按钮二】的回调
                            //return false 开启该代码可禁止点击该按钮关闭
                        }
                        , cancel: function () {
                            //右上角关闭回调
                            $("#div2").css("display", "none");
                            //return false 开启该代码可禁止点击该按钮关闭
                        }
                    });
                } else {
                    layer.msg("请选择一个需要重命名的文件")
                }
            });
        })
    })
</script>


</body>
<script>
    layui.use('upload', function () {
        var upload = layui.upload;
        //执行实例
        var uploadInst = upload.render({
            elem: '#choosefile', //绑定元素
            accept: 'file',
            size: 10240000,
            //multiple: true,
            url: './uploadfile', //上传接口
            method: 'POST',
            done: function (res) {
                //上传完毕回调
                layer.alert("上传成功！" + res.msg, {
                    icon: 5,
                    title: "提示"
                });
                $("#sourcepath").val(res.msg);
            }
            , error: function (res) {
                //请求异常回调
                layer.alert("后台出错", {
                    icon: 5,
                    title: "提示"
                });
            }
        });
    });
</script>


</html>